* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Barlow', sans-serif;
  font-style: normal;
  font-weight: 700;
}

.header-row {
  display: flex;
  justify-content: center;
}

.header-column-full > h2 {
  font-size: 32px;
  margin-top: 40px;
}

.content-row {
  display: flex;
  justify-content: center;
}

.content-column-one-fourth {
  margin-top: 40px;
}

section {
  text-align: center;
}

.descriptions {
  font-weight: 400;
  margin-top: 40px;
}

.icon-img {
  height: 100px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.icon-img > img {
  width: 100px;
  height: 100%;
}
